@import "../../styles/scss/1-global/global";
@import "../../styles/scss/2-tokens/colors.scss";

.light{
  background: #a8a8ac;
};

.task,
.task-checked {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    box-shadow: $todo-hover;
  }
  &:focus-within {
    box-shadow: $focus;
  }
}

// .task {
//   background: var(--primary-bg);
// }

// .task .row .icon-btn {
//   display: none;
//   background: var(--primary-bg);
// }

// .task .row .icon-btn:hover,
// .task-checked .row .icon-btn:hover {
//   background: var(--icon-btn-hover);
// }

// .task:hover .row .icon-btn {
//   display: flex;
// }

// .task-checked {
//   background: #25262b;
// }

// .task-checked .simple-text {
//   color: var(--sub-text-color);
//   text-decoration: line-through;
// }

// .task-checked .row .icon-btn {
//   display: none;
//   background: #25262b;
// }

// .task-checked .check-input:checked + .check-box {
//   background: $blue-t1;
// }

// .task-checked:hover .row .icon-btn:last-child {
//   display: flex;
// }

// .check .check-input {
//   position: absolute;
//   appearance: none;
//   -moz-appearance: none;
//   -webkit-appearance: none;
// }

// .check {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
// }

// .check-box,
// .check-box-disabled {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #cfd1db;
// }

// .check-box .icon-sm,
// .check-box-disabled .icon-sm {
//   color: #cfd1db;
// }

// .check-input:checked + .check-box {
//   background-color: $blue;
// }

// .check-input:focus + .check-box {
//   box-shadow: $focus;
// }

// @media (min-width: 1200px) {
//   .task,
//   .task-checked {
//     width: 600px;
//     height: 75px;
//     border-radius: $radius-lg;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

// @media (min-width: 992px) and (max-width: 1199px) {
//   .task,
//   .task-checked {
//     width: 550px;
//     height: 75px;
//     border-radius: $radius-lg;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

// @media (min-width: 768px) and (max-width: 991px) {
//   .task,
//   .task-checked {
//     width: 500px;
//     height: 75px;
//     border-radius: $radius-md;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

// @media (min-width: 481px) and (max-width: 768px){

// }

// @media (max-width: 480px){
//   .task,
//   .task-checked {
//     width: 350px;
//     height: 60px;
//     border-radius: $radius-lg;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

