@import "../../styles/scss/1-global/global";
@import "../../styles/scss/2-tokens/colors.scss";

$primary: #bfd028;

.task-done {
  background: rgb(69,227,87);
  background: linear-gradient(103deg, rgba(69,227,87,0.9164040616246498) 0%, rgba(69,227,87,0.13769257703081228) 84%);
}

.task-important{
  background: rgb(255,140,0);
  background: linear-gradient(90deg, rgba(255,140,0,0.8267682072829132) 0%, rgba(255,140,0,0.4206057422969187) 51%, rgba(255,140,0,0.1292892156862745) 92%);
}

.task-urgent{
//   ;
  background: rgb(241,29,40);
  background: linear-gradient(103deg, rgba(241,29,40,0.8) 0%, rgba(241,29,40,0.18531162464985995) 84%);
}

.task-urgent-important{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,0.7203256302521008) 0%, rgba(253,29,29,0.7063200280112045) 51%, rgba(252,176,69,0.639093137254902) 100%);
}
.border-item{
  height: 20px;
  border: 1cm;
  border: #e14747;
}
.light{
  background: #a8a8ac;
};
.simple-text{
  font-size: x-large;
}
.task,
.task-done,
.task-important,
.task-urgent,
.task-urgent-important {
  vertical-align: middle;
  &:hover {
    box-shadow: $todo-hover;
  }
  &:focus-within {
    box-shadow: $focus;
  }
}

// .task, 
// .task-important {
//   background: var(--primary-bg);
// }

// .task .row .icon-btn {
//   display: none;
//   background: var(--primary-bg);
// }

// // .task .row .icon-btn:hover,
// // .task-checked .row .icon-btn:hover {
// //   background: var(--icon-btn-hover);
// // }

// .task:hover .row .icon-btn {
//   display: flex;
// }

// .task-checked {
//   background: #25262b;
// }

// .task-checked .simple-text {
//   color: var(--sub-text-color);
//   text-decoration: line-through;
// }

// .task-checked .row .icon-btn {
//   display: none;
//   background: #25262b;
// }

// .task-checked .check-input:checked + .check-box {
//   background: $blue-t1;
// }

// .task-checked:hover .row .icon-btn:last-child {
//   display: flex;
// }

// .check .check-input {
//   position: absolute;
//   appearance: none;
//   -moz-appearance: none;
//   -webkit-appearance: none;
// }

// .check {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
// }

// .check-box,
// .check-box-disabled {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #cfd1db;
// }

// .check-box .icon-sm,
// .check-box-disabled .icon-sm {
//   color: #cfd1db;
// }

// .check-input:checked + .check-box {
//   background-color: $blue;
// }

// .check-input:focus + .check-box {
//   box-shadow: $focus;
// }

// // @media (min-width: 1200px) {
// //   .task,
// //   .task-checked {
// //     width: 600px;
// //     height: 75px;
// //     border-radius: $radius-lg;
// //   }

// //   .check-box,
// //   .check-box-disabled {
// //     width: 2rem;
// //     height: 2rem;
// //     border-radius: $radius-md;
// //   }
// // }

// @media (min-width: 992px) and (max-width: 1199px) {
//   .task,
//   .task-checked {
//     width: 550px;
//     height: 75px;
//     border-radius: $radius-lg;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

// @media (min-width: 768px) and (max-width: 991px) {
//   .task,
//   .task-checked {
//     width: 500px;
//     height: 75px;
//     border-radius: $radius-md;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

// @media (min-width: 481px) and (max-width: 768px){

// }

// @media (max-width: 480px){
//   .task,
//   .task-checked {
//     width: 350px;
//     height: 60px;
//     border-radius: $radius-lg;
//   }

//   .check-box,
//   .check-box-disabled {
//     width: 2rem;
//     height: 2rem;
//     border-radius: $radius-md;
//   }
// }

