.cobalt {
  --primary-bg: #19354A;
  --secondary-bg: #163041;
  --text-color: #fff;
  --icon-btn-hover: #1f415b;
  --sub-text-color: #4D6281;
  --sub-icon-color: #4D6281;
  --modal-bg: #0f202d;
  --form-border: 2px solid #19354A;
  --modal-btn-hover: #1f415b;
  --sidebar-btn-hover: #1e405a;
}