.dark {
  --primary-bg: #303239;
  --secondary-bg: #232127;
  --text-color: #fff;
  --sub-text-color: #90a2aa;
  --icon-btn-hover: #242424;
  --sub-icon-color: #90a2aa;
  --hover-color: #26272d;
  --modal-bg: #19181c;
  --modal-input-bg: #303239;
  --modal-btn-hover: #2f2d34;
  --modal-input-border: #363b40;
  --modal-input-text-color: #90a2aa;
  --form-border: 2px solid #363b40;
}