.deep-ocean {
  --primary-bg: #0F111AFF;
  --secondary-bg: #090B10FF;
  --tertiary-bg: #1C2031FF;
  --text-color: #FFFFFFFF;
  --sub-text-color: #9ACBD5FF;
  --modal-bg: #06080c;
  --sidebar-btn-hover: #161926;
}