.light {
  --primary-bg: #fff;
  --secondary-bg: #F2F2F2;
  --text-color: #000;
  --sub-text-color: #9CA7B8;
  --sub-icon-color: #9CA7B8;
  --sidebar-btn-hover: #eff6fc;
  --modal-bg: #fff;
  --modal-btn-hover: #eff6fc;
  --form-border: 2px solid #C9C9C9;
}