@import "../1-global/global";

.top-space-xxxxs {
  margin: $space-xxxxs 0 0 0;
}

.top-space-xxxs {
  margin: $space-xxxs 0 0 0;
}

.top-space-xxs {
  margin: $space-xxs 0 0 0;
}

.top-space-xs {
  margin: $space-xs 0 0 0;
}

.top-space-sm {
  margin: $space-sm 0 0 0;
}

.top-space-md {
  margin: $space-md 0 0 0;
}

.top-space-lg {
  margin: $space-lg 0 0 0;
}

.top-space-xl {
  margin: $space-xl 0 0 0;
}

.top-space-xxl {
  margin: $space-xxl 0 0 0;
}

.top-space-xxxl {
  margin: $space-xxxl 0 0 0;
}

/*Right Spaces*/

.right-space-xxxxs {
  margin: 0 $space-xxxxs 0 0;
}

.right-space-xxxs {
  margin: 0 $space-xxxs 0 0;
}

.right-space-xxs {
  margin: 0 $space-xxs 0 0;
}

.right-space-xs {
  margin: 0 $space-xs 0 0;
}

.right-space-sm {
  margin: 0 $space-sm 0 0;
}

.right-space-md {
  margin: 0 $space-md 0 0;
}

.right-space-lg {
  margin: 0 $space-lg 0 0;
}

.right-space-xl {
  margin: 0 $space-xl 0 0;
}

.right-space-xxl {
  margin: 0 $space-xxl 0 0;
}

.right-space-xxxl {
  margin: 0 $space-xxxl 0 0;
}

/*Left Spaces*/

.left-space-xxxxs {
  margin: 0 0 0 $space-xxxxs;
  text-decoration: none;
}

.left-space-xxxs {
  margin: 0 0 0 $space-xxxs;
  text-decoration: none;
}

.left-space-xxs {
  margin: 0 0 0 $space-xxs;
  text-decoration: none;
}

.left-space-xs {
  margin: 0 0 0 $space-xs;
  text-decoration: none;
}

.left-space-sm {
  margin: 0 0 0 $space-sm;
  text-decoration: none;
}

.left-space-md {
  margin: 0 0 0 $space-md;
  text-decoration: none;
}

.left-space-lg {
  margin: 0 0 0 $space-lg;
  text-decoration: none;
}

.left-space-xl {
  margin: 0 0 0 $space-xl;
  text-decoration: none;
}

.left-space-xxl {
  margin: 0 0 0 $space-xxl;
  text-decoration: none;
  padding: 0;
}

.left-space-xxxl {
  margin: 0 0 0 $space-xxxl;
  text-decoration: none;
}

/*Bottom Spaces*/

.bottom-space-xxxxs {
  margin: 0 0 $space-xxxxs 0;
}

.bottom-space-xxxs {
  margin: 0 0 $space-xxxs 0;
}

.bottom-space-xxs {
  margin: 0 0 $space-xxs 0;
}

.bottom-space-xs {
  margin: 0 0 $space-xs 0;
}

.bottom-space-sm {
  margin: 0 0 $space-sm 0;
}

.bottom-space-md {
  margin: 0 0 $space-md 0;
}

.bottom-space-lg {
  margin: 0 0 $space-lg 0;
}

.bottom-space-xl {
  margin: 0 0 $space-xl 0;
}

.bottom-space-xxl {
  margin: 0 0 $space-xxl 0;
}

.bottom-space-xxxl {
  margin: 0 0 $space-xxxl 0;
}

.g1 {
  gap: 0.5rem;
}

.g2 {
  gap: 1rem;
}

.g3 {
  gap: 2rem;
}