$blue-t9: #98C1FF;
$blue-t8: #87B7FF;
$blue-t7: #76ADFF;
$blue-t6: #65A3FF;
$blue-t5: #5498FF;
$blue-t4: #438EFF;
$blue-t3: #438EFF;
$blue-t2: #3284FF;
$blue-t1: #2079FF;
$blue: #0f6fff;
$blue-s1: #0064FB;
$blue-s2: #005DE8;
$blue-s3: #0055D4;
$blue-s4: #004DC1;
$blue-s5: #0046AE;
$blue-s6: #003E9A;
$blue-s7: #003687;
$blue-s8: #002E74;
$black: #000;
$white: #fff;
$blue: #0f6fff;
$red: #ff3e33;
$green: #5FCF65;
$yellow: #f3db6d;
$default-color: #265E9C;
$warning-color: #B08800;
$error-color: #ae3c42;
$success-color: #538f61;
$light-blue: #5f9ffd;
$light-red: #faa9b3;
$light-green: #DCFFE4;
$light-yellow: #FFFBDD;
$red-hover: #fc8291;
$green-hover: #99faaf;
$blue-hover: #3d85ee;
$secondary-btn-border-color: #d9dbdb;