@import "colors";

$todo-hover: 5px 5px 20px rgba(28, 29, 34, 1);
$secondary-btn-border: 2px solid $secondary-btn-border-color;
$hover: 5px 5px 20px rgba(15, 111, 255, 0.4);
$warning-hover: 5px 5px 20px rgba(255, 62, 51, 0.4);
$focus: 0 0 0 3px $light-blue;
$warning-focus: 0 0 0 3px $light-red;
$blue-border: 2px solid $blue;
$red-border: 2px solid $red;
$green-border: 2px solid $green;
$yellow-border: 2px solid $yellow;