$space-unit: 1em;
$space-xxxxs: calc(0.125 * 1rem);
$space-xxxs: calc(0.25 * 1rem);
$space-xxs: calc(0.375 * 1rem);
$space-xs: calc(0.5 * 1rem);
$space-sm: calc(0.75 * 1rem);
$space-md: calc(1.25 * 1rem);
$space-lg: calc(2 * 1rem);
$space-xl: calc(3.25 * 1rem);
$space-xxl: calc(5.25 * 1rem);
$space-xxxl: calc(8.5 * 1rem);
$space-xxxxl: calc(13.75 * 1rem);