$primary-heading: 2rem;
$secondary-heading: 1.75rem;
$tertiary-heading: 1.4rem;
$pre-text: 1.125rem;
$simple-text: 1rem;
$sub-text: 0.8125rem;
$inter: "Inter", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 700;