.roundedTitle {
	background-color: #333;
	color: white;
	padding: 1rem 2rem;
	border-radius: .30rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	margin-bottom: 1rem;
  }